.main {
  margin: 0 auto;
}

.inner {
  width: 1080px;
  margin: 0 auto;
  text-align: center;
}

.header {
  @extend .main;
  height: 600px;
  width: 100%;
  text-align: center;
  background: url('../../static/images/loading.png') no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.header_h3 {
  font-size: 64px;
  font-weight: bold;
  padding: 180px 0 12px 0;
  color: #fff;
}

.header_p {
  line-height: 28px;
  font-size: 18px;
  padding-bottom: 34px;
  color: #fff;
}

.log_bar {
  display: flex;
  padding: 20px 0 0 0;
  justify-content: space-between;
}

.log {
  height: 48px;
}

.main {
  @extend .main;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 32px;
  padding: 45px 0;
}

.text {
  font-size: 32px;
  width: 680px;
  margin: 0 auto;
}

.list {
  display: flex;
  width: 340px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 60px 0;
  img {
    height: 64px;
    display: block;
  }
  p {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    line-height: 20px;
    font-size: 14px;
    padding-top: 12px;
  }
}
